/* Variable */
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0,0);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* *************** CSS POUR Tablette / Ordinateur *************** */
/* XXX plus grand ou égale à XXXpx */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {

}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {

}

/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {

}