/* Variable */
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    --color-gray: rgb(192, 192, 192);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Modification de la cartes */
a{
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    text-align: center;
}

article{
    margin: 25px;
    padding: 15px;
    background-color: var(--color-gray);
    border: 3px solid black;
    border-radius: 25px;
}

img{
    width: 75px;
}

/* *************** CSS POUR Tablette / Ordinateur *************** */
/* XXX plus grand ou égale à XXXpx */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {

}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {

}

/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {

}