/* Variable */
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main{
    text-align: center;
}

#gamesBoard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* border: 3px solid black; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    div{
        border: 2px solid black;
    }
}


/* *************** CSS POUR Tablette / Ordinateur *************** */
/* XXX plus grand ou égale à XXXpx */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {

}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {

}

/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {

}