<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Venez jouer aux morpion sur ma Plateforme JavaScript avec plein de Mini-Jeux. Vous verrez mes modestes compétences en HTML5 / CSS3 et JavaScript">
    <title>Mini-Jeux | Morpion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../media/img/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/morpion.css"><!-- CSS -->
    <script src="../script/morpion.js" defer></script><!-- JS -->
</head>
<body>
    <header>
        <div id="title">
            <h1>JEU DU <strong>MORPION</strong></h1>
        </div>
        <nav></nav>
    </header>

    <main>
        <!-- Section pour afficher du texte aux joueurs -->
        <section id="textArea">
            <p>Ce jeux du morpion à était construit dans sa version 1 pour être jouer à deux joueurs.</p>
            <p>Joueurs 01 : Tu auras la couleur BLEUE et tu utilisera les "O"</p>
            <p>Joueurs 02 : Tu auras la couleur ROUGE et tu utilisera les "X"</p>
        </section>

        <!-- Section pour la zone de jeux -->
        <section>
            <!-- Plateaux de jeux -->
            <div id="gamesBoard">
                <!-- Lignes 1 : Cellule 1 -->
                <button class="cell" onclick="clicCell(this, 0)"></button>
                <!-- Lignes 1 : Cellule 2 -->
                <button class="cell" onclick="clicCell(this, 1)"></button>
                <!-- Lignes 1 : Cellule 3 -->
                <button class="cell" onclick="clicCell(this, 2)"></button>
                <!-- Lignes 2 : Cellule 1 -->
                <button class="cell" onclick="clicCell(this, 3)"></button>
                <!-- Lignes 2 : Cellule 2 -->
                <button class="cell" onclick="clicCell(this, 4)"></button>
                <!-- Lignes 2 : Cellule 3 -->
                <button class="cell" onclick="clicCell(this, 5)"></button>
                <!-- Lignes 3 : Cellule 1 -->
                <button class="cell" onclick="clicCell(this, 6)"></button>
                <!-- Lignes 3 : Cellule 2 -->
                <button class="cell" onclick="clicCell(this, 7)"></button>
                <!-- Lignes 3 : Cellule 3 -->
                <button class="cell" onclick="clicCell(this, 8)"></button>
            </div>
        </section>

        <!-- Section pour les boutons "Jouer" / "Restart" -->
        <section id="buttonArea">
            <button onclick="init()" id="btnPlay">Jouez</button>
        </section>
    </main>

</body>
</html>